<div id='data' class="scoreboard">
    <div class="leaderboard-title">
        Top Players:
    </div>

    <table class="leaderboard-table">
        <tr>
            <td class=scoreplace> {{firstplace.score}}:</td>
            <td> {{firstplace.name}} </td>
        </tr>
        <tr>
            <td class=scoreplace> {{secplace.score}}:</td>
            <td> {{secplace.name}} </td>
        </tr>
        <tr>
            <td class=scoreplace> {{thiplace.score}}:</td>
            <td> {{thiplace.name}} </td>
        </tr>
    </table>
</div>
